.anim:active .ball-one {
    left: 150px;
    transition: left 1s ease-in;
}
.anim:active .ball-two {
    margin-left: 150px;
    transition: margin-left 1s ease-in 1s;
}
.ball-one {
    background: #ff97C0;
    border-radius: 50%;
    position: absolute; top: 0px; left: 00px;
    width: 200px; height: 200px;
}
.ball-two {
    background: #0097C0;
    border-radius: 50%;
    position: absolute; top: 100px; left: 300px;
    width: 100px; height: 100px;
}
  